.main {
  /* height: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.main > #btn {
  color: rgb(11, 31, 142);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: none;
  width: 150px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  font-size: 17px;
  font-family: monospace;
}

.filter,
.available,
.domain {
  margin: 10px;
  /* background-color: rebeccapurple; */
}
select {
  font-family: monospace;
  border-radius: 10px;
  font-weight: 800;
  color: rgb(2, 3, 28);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: none;
  outline: none;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
  height: 40px;
}
